<!-- Post preview-->
<article class="post_{{post.id}}">
    <div class="post-preview">
	<a href="/actualite/{{post.id}}">
		<h2 class="post-title">{{post.title}}</h2>
		<h3 class="post-subtitle">{{post.chapo}}</h3>
	</a>
	<p class="post-meta">

        Posté le {{post.modified_at|date("m/d/Y")}}
	</p>
</div>
<hr class="my-4"/>
</article>

