{% extends "layouts/layout.twig" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}

<!-- Page Header-->
<div class="padding-container container">
    <div class="masthead">
        <div class="container position-relative">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 col-xl-7 post-header">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>

                        <h2 class="subheading">{{post.lead_content}}</h2>
                        <div class="meta">
                            {% set author = displayAuthor(post.fk_user_id) %}

                            Posté par {{author.firstname}} {{author.lastname}}
                            le {{post.modified_at|date("m/d/Y")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 col-xl-7 post-content">
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </div>
        </div>

        <div class="comments-container">
            {% include "elements/form-comment.twig" %}

            <h2>Commentaires</h2>
            <div class="separator"></div>
            {% if comments %}
            <div class="comments">

                {% for comment in comments %}
                {% set authorCom = displayAuthor(comment.fk_user_id) %}
                <div class="comment">
                    {% if authorCom.firstname and authorCom.lastname %}
                    <div>
                        {{authorCom.firstname}} {{authorCom.lastname}}
                    </div>
                    <div class="separator-small"></div>

                    {% endif %}

                    {% if comment.comment %}

                    {{comment.comment}}

                    {% endif %}
                </div>

                {% endfor %}
            </div>
            {% endif %}

        </div>



    </article>
</div>

{% endblock %}