{% extends "layouts/layout.twig" %}

{% block title %}Créer un compte
{% endblock %}

{% block content %}
<div class="container padding-container">
	<div class="row justify-content-center">
		<div class="col-lg-7">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header">
					<h3 class="text-center font-weight-light my-4">Creer un compte</h3>
				</div>
				<div class="card-body">
					<form action="index.php?action=createAccount" method="post">
						<div class="row mb-3">
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input class="form-control" id="firstname" name="firstname" type="text"
										placeholder="Enter your first name" {% if before.firstname %}
										value='{{before.firstname}}' {% endif %} />
									<label for="inputFirstName">Prénom</label>
									{% if errors.firstname %}<small class="form-errors">{{errors.firstname}}</small>{%
									endif %}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input class="form-control" id="inputLastName" name="lastname" type="text"
										placeholder="Enter your last name" {% if before.lastname %}
										value='{{before.lastname}}' {% endif %} />
									<label for="inputLastName">Nom</label>
									{% if errors.lastname %}<small class="form-errors">{{errors.lastname}}</small>{%
									endif %}
								</div>
							</div>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" id="inputEmail" name="email" type="email"
								placeholder="name@example.com" {% if before.email %} value='{{before.email}}' {% endif
								%} />
							<label for="inputEmail">Email</label>
							{% if errors.email %}<small class="form-errors">{{errors.email}}</small>{% endif %}
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input class="form-control" id="inputPassword" name="password" type="password"
										placeholder="Create a password" />
									<label for="inputPassword">Mot de passe</label>
									{% if errors.password %}<small class="form-errors">{{errors.password}}</small>{%
									endif %}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input class="form-control" id="inputPasswordConfirm" name="confirmepassword"
										type="password" placeholder="Confirm password" />
									<label for="inputPasswordConfirm">Confirmer le mot de passe</label>
									{% if errors.confirmepassword %}<small
										class="form-errors">{{errors.confirmepassword}}</small>{% endif %}
								</div>
							</div>
						</div>
						<div class="mt-4 mb-0">
							<div class="d-grid">
								<button class="btn btn-primary btn-block" type="submit">Créer le compte</button>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer text-center py-3">
					<div class="small">
						<a href="/login">Vous avez déjà un compte ? connectez-vous ici !</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}