{% extends "layouts/layout-admin.twig" %}

{% block title %}Les posts{% endblock %}

{% block content %}

{% if posts %}

<div class="datatable-container">
    <table id="datatablesSimple" class="datatable-table">
        <thead>
            <tr>
                <th><a href>ID</a></th>
                <th>Title</th>
                <th>Created At</th>
                <th>Modified At</th>
                <th>Created By</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.created_at}}</td>
                <td>{{post.modified_at}}</td>
                <td>{{post.author.firstname}} {{post.author.lastname}}</td>
                <td class="modify-control"><a href="admin/post/modify/?id={{post.id}}"><i class="fa fa-pencil"
                            aria-hidden="true"></i></a> <a href="'admin/post/delete/?id={{post.id}}"><i
                            class="fa fa-trash" aria-hidden="true"></i></a></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% else %}

Une erreur est survenu sur la page

{% endif %}

{% endblock %}